body {
  font-family: sans-serif;
}

/* UTILITY */
.relative {
  position: relative;
}

.h_500 {
  height: 500px;
}

.mr_20 {
  margin-right: 20px;
}

.ml_20 {
  margin-left: 20px;
}

.ml_50 {
  margin-left: 50px;
}

.pr_20 {
  padding-right: 20px;
}

.pl_20 {
  padding-left: 20px;
}

.pt_50 {
  padding-top: 50px;
}

.text_center {
  text-align: center;
}

.bg_blue {
  background: #344453;
}
/* SEZIONE HEADER */
header {
  position: relative;
  height: 500px;
  background-image: url('../img/banner.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.overlay {
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
}

#logo {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
}

nav a {
  color: white;
  padding: 0 10px;
}

nav {
  height: 80px;
  line-height: 80px;
}

.header_menu {
  text-align: right;
}

.list_inline li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

.header_menu, .header_langs {
  font-size: 0.65rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header_langs li:not(:last-child) a {
  border-right: 1px solid white;
}

.hero_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero_text h1 {
  font-size: 2.5em;
}

.hero_text p {
  margin: 20px 0 30px 0;
}

.hero_text img {
  width: 150px;
}

/* SEZIONE MAIN */
#models {
  padding: 80px;
}

.card {
  text-align: center;
  background-color: #FAFAFA;
}

#models h2 {
  padding-top: 40px;
}

#models p {
  padding: 20px 0 30px 0;
}

#models img {
  width: 100%;
}

.image_row {
  height: 400px;
  background-image: url('../img/old_man_banner.jpg');
  background-size: cover;
  background-position: center;
}

#how_to_use .image_row img {
  width: 80%;
  height: auto;
}

#how_to_use .box {
  position: relative;
  padding: 100px 80px;
}

.square {
  height: auto;
}

.square h2 {
  font-size: 2rem;
  width: 65%;
}

.square p {
  line-height: 2em;
}

.square:nth-of-type(odd) {
  margin-top: 400px;
}

#smart_mobility {
  margin-top: 350px;
}

#smart_mobility .bg_image {
  background-image: url('../img/scooter.jpg');
  background-size: cover;
  margin-bottom: 40px;
}

#smart_mobility .img_text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#smart_mobility h2 {
  font-size: 2em;
  padding-bottom: 30px;
}

#smart_mobility p {
  line-height: 1.5em;
  padding-bottom: 20px;
}

#smart_mobility a {
  color: white;
}

.widget {
  position: relative;
  height: 800px;
  color: white;
  padding-top: 80px;
}

.widget img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#smart_mobility .widget h2 {
  width: 65%;
  margin: auto;
  font-size: 3em;
  font-weight: bold;
}

#smart_mobility .widget a {
  display: inline-block;
  color: white;
  text-decoration: none;
}

#smart_mobility .city {
  background-image: url('../img/city.jpg');
  background-size: cover;
  background-position: center;
}

#testimonials {
  position: relative;
  background-image: url('../img/testimonials.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px 0;
}

#testimonials .family {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50px;
}

#testimonials .family h4 {
  font-size: 2.75em;
  padding-bottom: 15px;
}

#testimonials li {
  font-size: 3em;
}

/* SEZIONE FOOTER */
#site_footer {
  background: black;
  color: white;
  font-size: 1.75em;
  padding: 60px 0;
}

#site_footer h2 {
  letter-spacing: 3px;
}

.list_none {
  list-style: none;
}

#site_footer li {
  padding: 10px 0;
}

#site_footer li a {
  color: grey;
  text-decoration: none;
  font-size: 0.75em;
}

#social li a {
  color: white;
}

.white a {
  color: white;
  font-size: 0.75em;
}

.apps {
  text-align: center;
}

.apps a {
  width: 150px;
  display: inline-block;
}

.apps img {
  border: 1px solid white;
  border-radius: 10px;
}
